<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scaled=1.0">
        <title>Movie Search</title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <script src="/functions.js"></script>

        <div class="searchMenu">
            <div class="searchBar">
                <label for="search">SEARCH: </label>
                <input type="text" id="search" name="search" required>
                <button onclick="searchMovies()">Submit</button>
            </div>

            <div class="searchOptions">
                <div class="searchYear">
                    <label>YEAR</label>
                    <div>
                        <label class="minYearLabel" for="yearRange1" id="minRangeLabel">1970</label>
                        <input type="range" min="1970" max="2021" class="slider" id="yearRange1" value="1970" oninput="minYearSlide(event)" onchange="minYearSlide(event)"><br>
                        <label class="maxYearLabel" for="yearRange2" id="maxRangeLabel">2021</label>
                        <input type="range" min="1970" max="2021" class="slider" id="yearRange2" value="2021" oninput="maxYearSlide(event)" onchange="maxYearSlide(event)">
                    </div>
                </div>
                <div class="searchType" id="searchType">
                    <label>TYPE</label>
                    <div>
                        <input type="radio" id="Any" name="type" value="any" checked>
                        <label for="Any">Any</label>

                        <input type="radio" id="Movies" name="type" value="movies">
                        <label for="Movies">Movies</label>

                        <input type="radio" id="Series" name="type" value="series">
                        <label for="Series">Series</label>

                        <input type="radio" id="Episodes" name="type" value="episodes">
                        <label for="Episodes">Episodes</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="movieResults">
            <div class="movieList content" id="movieList">
                <h1 style="margin-left: 25%;">Search Above!</h1>
            </div>
            <div class="movieDisplay content" id="movieDisplay">
                <div class="displayMain">
                </div>
            </div>
        </div>

        

    </body>
</html>